.number-filters h2{
    margin: 2rem 0 .5rem 0;
}

span.absolute-center {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .85rem;
}

.btn-rounded:first-of-type {
    margin-left: 0;
}

.btn-rounded:last-of-type {
    margin-right: 0;
}

.checkbox-container{
    margin: 1.5rem 0 1rem 0;
}