@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, div {
	display: block;
  box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ************ */

:root{
  --dark-green: #00290D;
  --mid-green: #269075;
  --light-green: #15EBB3;
  --main-yellow: #FFF20D;
  --lighter: #e6fff8;
}

body {
  background-color: var(--light-green);
  color: var(--dark-green);
  font-family: 'Montserrat', sans-serif;
}

.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 2.5rem;
  overflow: hidden;
}

input, button {
  font-family: inherit;
}

.input-container {
  position: relative;
}

.input-container.half input {
  font-size: 3rem;
}

button {
  cursor: pointer;
}

.btn-clean{
  background-color: unset;
  color: inherit;
  border: none;
  outline: none;
  font-family: inherit;
}
.btn-clean:focus, .btn-clean:hover{
  border: none;
  outline: none;
}

.btn-rounded {
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  border-radius: 1rem;
}

.btn-bordered {
  background-color: unset;
  border: 1px solid var(--dark-green);
}

.btn-bordered:focus, .btn-bordered:hover, .btn-bordered.active {
  color: var(--lighter);
  background-color: var(--dark-green);
  border: 1px solid var(--dark-green);
}

.pretty.p-switch.p-fill.checkbox-container input:checked~.state.p-primary:before, .pretty.p-switch.p-fill .state label:after {
  background-color: var(--dark-green) !important;
}

.pretty.p-switch input:checked~.state.p-primary:before, .pretty.p-switch .state:before {
  border-color: var(--dark-green) !important;
}

.grid1_1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
  position: relative;;
}

.grid1_3{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0 1rem;
}

@media screen {
  .App{
    max-width: 720px;
    max-height: 1280px;
    margin: auto;    
  }
}
