.groups{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.groups h2{
    font-size: 1rem;
    font-weight: bold;
}

.groups li{
    font-size: 2rem;
    margin: .5rem 0;
}